* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 400px;
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 10px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    font-size: 27px;
}

.screen1 {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 10px;
    font-size: 30px;
}

.buttons {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.del {
    grid-column: span 3;
}
